@font-face {
    font-family: 'Ligconsolata';
    src: url('../fonts/ligconsolata-regular.ttf');
}

@font-face {
    font-family: 'Mallanna';
    src: url('../fonts/Mallanna-Regular.ttf');
}

@font-face {
    font-family: 'Mali';
    src: url('../fonts/Mali-Regular.ttf');
}

@font-face {
    font-family: 'Marvel';
    src: url('../fonts/Marvel-Regular.ttf');
}

body{
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slide-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    background: #fff;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: 3px solid red;      
}
